<mat-card class="tarjeta" [ngClass]="{'done': item.state === 'done',
                                      'active': item.state === 'active'}">
  <mat-card-title>
    <span class = "prueba">{{ index }}. {{item.description}}</span>
    <span><button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>more_vert</mat-icon>
    </button></span>
  </mat-card-title>	
  
  <mat-card-actions *ngIf="true">
    <button mat-button (click)="deleteTask()">
      <mat-icon>delete_outline</mat-icon>
    </button>
    <button mat-button (click)="showEditTask=true" [disabled]="item.state === 'done'">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button (click)="completeTask()" [disabled]="item.state === 'done'">
      <mat-icon>check</mat-icon>
    </button>
    <mat-slide-toggle class="filterSlide"
        [color]="color"
        [checked]="checked"
        [disabled]="item.state === 'done'"
        (change)="changeState($event)">
      En curso
    </mat-slide-toggle>
  </mat-card-actions>

  <app-edit-task
    [description] = "item.description"
    [state] = "item.state"
    *ngIf="showEditTask"
    (EditItemEvent)="editTask($event)">
                    <!-- Cuando el evento EditItemEvent se ejecuta se lanza el 
                    método editTask del componente padre (Item)-->
  </app-edit-task>

</mat-card>