.example-spacer {
  flex: 1 1 auto;
}

.flex-toolbar{
    display: flex;
    justify-content: space-between;
}

.mat-toolbar{
    background-color: #10264e;
}

a:link, a:visited {
  text-decoration:none;
  color: white;
}

.heart{
  color:red !important;
}

.share{
  color: #0c7abf !important
}